/7za.bash
/7zr.bash
/7zz.bash
/7zzs.bash
/aclocal-1.1[01234567].bash
/alpine.bash
/alternatives.bash
/animate.bash
/apropos.bash
/aptitude-curses.bash
/arm-koji.bash
/asciidoc.py.bash
/autoheader.bash
/automake-1.1[01234567].bash
/autossh.bash
/autoupdate.bash
/avahi-browse-domains.bash
/b2sum.bash
/bmake.bash
/brave.bash
/brave-browser.bash
/bsdtar.bash
/btdownloadcurses.py.bash
/btdownloadgui.py.bash
/c++.bash
/cc.bash
/cdrecord.bash
/chrome.bash
/chromium.bash
/ci.bash
/ciptool.bash
/civclient.bash
/civserver.bash
/cksum.bash
/clzip.bash
/co.bash
/colormake.bash
/compare.bash
/compgen.bash
/composite.bash
/conjure.bash
/cowthink.bash
/createdb.bash
/createuser.bash
/dcop.bash
/dfutool.bash
/display.bash
/dpkg-deb.bash
/dpkg-query.bash
/dpkg-reconfigure.bash
/dropdb.bash
/dropuser.bash
/edquota.bash
/etherwake.bash
/f77.bash
/f95.bash
/filebucket.bash
/firefox-esr.bash
/fprintd-list.bash
/fprintd-verify.bash
/freeciv-gtk2.bash
/freeciv-gtk3.bash
/freeciv-sdl.bash
/freeciv-xaw.bash
/fsnotifywait.bash
/fsnotifywatch.bash
/g++.bash
/g++-[5678].bash
/g4.bash
/g77.bash
/g95.bash
/gcc-[5678].bash
/gccgo.bash
/gccgo-[5678].bash
/gcj.bash
/geoiplookup6.bash
/gfortran.bash
/gfortran-[5678].bash
/gkrellm2.bash
/gmake.bash
/gmplayer.bash
/gnumake.bash
/google-chrome.bash
/google-chrome-stable.bash
/gpc.bash
/gpgv2.bash
/gssdp-device-sniffer.bash
/gtar.bash
/hciattach.bash
/hciconfig.bash
/host.bash
/hping.bash
/hping3.bash
/iceweasel.bash
/identify.bash
/ifdown.bash
/ifquery.bash
/ifstatus.bash
/import.bash
/inotifywatch.bash
/iperf3.bash
/javac.bash
/javadoc.bash
/kplayer.bash
/l2ping.bash
/lbzip2.bash
/ldapadd.bash
/ldapcompare.bash
/ldapdelete.bash
/ldapmodify.bash
/ldapmodrdn.bash
/ldappasswd.bash
/ldapwhoami.bash
/links2.bash
/lintian-info.bash
/lua5[0-4].bash
/lua5.[0-4].bash
/luac5[0-4].bash
/luac5.[0-4].bash
/lusermod.bash
/lvchange.bash
/lvcreate.bash
/lvdisplay.bash
/lvextend.bash
/lvmdiskscan.bash
/lvreduce.bash
/lvremove.bash
/lvrename.bash
/lvresize.bash
/lvs.bash
/lvscan.bash
/lz4c.bash
/mailsnarf.bash
/md5sum.bash
/mdecrypt.bash
/mencoder.bash
/micropython.bash
/mkisofs.bash
/mogrify.bash
/montage.bash
/mozilla-firefox.bash
/mplayer2.bash
/mrsasutil.bash
/msgsnarf.bash
/muttng.bash
/neomutt.bash
/pbzip2.bash
/pccardctl.bash
/pdlzip.bash
/perldoc.bash
/phing.bash
/pigz.bash
/pinfo.bash
/ping4.bash
/ping6.bash
/pkg_deinstall.bash
/pkg_info.bash
/pkgconf.bash
/pkill.bash
/plzip.bash
/pm-suspend.bash
/pm-suspend-hybrid.bash
/pmake.bash
/postalias.bash
/ppc-koji.bash
/puppetca.bash
/puppetd.bash
/puppetdoc.bash
/puppetmasterd.bash
/puppetqd.bash
/puppetrun.bash
/pushd.bash
/pvchange.bash
/pvcreate.bash
/pvdisplay.bash
/pvmove.bash
/pvremove.bash
/pvs.bash
/pvscan.bash
/pxz.bash
/py.test.bash
/py.test-[23].bash
/pydoc3.bash
/pydoc3.1[345].bash
/pylint-[23].bash
/pypy.bash
/pypy3.bash
/pyston.bash
/pyston3.bash
/pytest-[23].bash
/python2.bash
/python2.*.bash
/python3.bash
/python3.*.bash
/pyvenv-3.*.bash
/qemu-kvm.bash
/qemu-system-i386.bash
/qemu-system-x86_64.bash
/quotacheck.bash
/quotaoff.bash
/quotaon.bash
/ralsh.bash
/rcsdiff.bash
/rdict.bash
/repquota.bash
/rfcomm.bash
/rlog.bash
/rpm2targz.bash
/rpm2txz.bash
/rpmbuild.bash
/rpmbuild-md5.bash
/s390-koji.bash
/sbcl-mt.bash
/scp.bash
/sdptool.bash
/setquota.bash
/sftp.bash
/sha1sum.bash
/sha224sum.bash
/sha384sum.bash
/sha512sum.bash
/shasum.bash
/sidedoor.bash
/slogin.bash
/smbcacls.bash
/smbcquotas.bash
/smbget.bash
/smbpasswd.bash
/smbtar.bash
/smbtree.bash
/sparc-koji.bash
/spovray.bash
/star.bash
/stream.bash
/sudo-rs.bash
/sudo.ws.bash
/sudoedit.bash
/tightvncviewer.bash
/tracepath6.bash
/typeset.bash
/vgcfgbackup.bash
/vgcfgrestore.bash
/vgchange.bash
/vgck.bash
/vgconvert.bash
/vgcreate.bash
/vgdisplay.bash
/vgexport.bash
/vgextend.bash
/vgimport.bash
/vgmerge.bash
/vgmknodes.bash
/vgreduce.bash
/vgremove.bash
/vgrename.bash
/vgs.bash
/vgscan.bash
/vgsplit.bash
/vigr.bash
/whatis.bash
/wine-development.bash
/wine-stable.bash
/wine64.bash
/wine64-development.bash
/wine64-stable.bash
/xpovray.bash
/xvnc4viewer.bash
/ypcat.bash
