[*]
indent_style = space
indent_size = 4
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 79

[Makefile.am]
indent_style = tab
