*.tar*
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
doc/*.xml
*~
doc/html*
bash_completion.sh
bash-completion.pc
bash-completion-config.cmake
bash-completion-config-version.cmake
