shell=bash
disable=SC1090  # not really fixable usually (ever?)
disable=SC2034  # for localizing variables set in called functions
disable=SC2128  # intentional style choice
disable=SC2206  # suggested alternatives fail in posix mode or use temp files
disable=SC2207  # suggested alternatives fail in posix mode or use temp files

# These disables are to be investigated and decided

disable=SC1004
disable=SC2015
disable=SC2016
disable=SC2086
disable=SC2155
disable=SC2162
disable=SC2231
