shell=bash
enable=deprecate-which
enable=require-double-brackets
disable=SC1090  # not really fixable usually (ever?)
disable=SC2034  # for localizing variables set in called functions
disable=SC2128  # intentional style choice
disable=SC2209  # interferes with our `set` (literal) vs empty booleans

# These disables are to be investigated and decided

disable=SC2016
disable=SC2155
