shell=bash
disable=SC1090  # not really fixable usually (ever?)
disable=SC2034  # for localizing variables set in called functions
disable=SC2053  # TODO
disable=SC2128  # intentional style choice
disable=SC2155  # TODO
disable=SC2206  # suggested alternatives fail in posix mode or use temp files
disable=SC2207  # suggested alternatives fail in posix mode or use temp files
