language: bash

os:
  - linux
  # Not working yet (test suite somehow screwed): - osx

addons:
  apt:
    packages:
      - dejagnu
      - tcllib
      # List of packages enabling more stuff to test follows.
      # Note that all of these may not be installable via the apt addon, but
      # we should have filed an issue for all that are not. They'll trickle
      # in later when/if approved. More info:
      # https://github.com/travis-ci/apt-package-whitelist
      - a2ps
      - abook
      - acpi
      - apache2.2-common
      - apache2-utils
      - apt-build
      - asciidoc
      - aspell
      - bc
      - bind9-host
      # post-installation script issues in Travis? (udev, dbus initscripts)
      #- bluez
      - bridge-utils
      - bsdgames
      - cfengine2
      - chkconfig
      - chrony
      - chrpath
      - cksfv
      - clisp
      - cowsay
      - cppcheck
      - cups-bsd
      - cups-client
      - cvs
      - cvsps
      - deja-dup
      - desktop-file-utils
      - dict
      - dnsutils
      - dselect
      - dsniff
      - enscript
      - eog
      - evince
      - expat
      - fbi
      - feh
      - file-roller
      - finger
      - freerdp-x11
      - gcj-jdk
      - gcl
      - gdb
      - genisoimage
      - gkrellm
      - gnat-4.6
      - gnokii-cli
      - gnome-mplayer
      - gperf
      - gphoto2
      - graphviz
      - growisofs
      - grub
      - hddtemp
      - htop
      - idn
      - iftop
      - info
      - iperf
      - ipmitool
      - iputils-arping
      - iputils-ping
      - iputils-tracepath
      - ipv6calc
      - isc-dhcp-client
      - jpegoptim
      - k3b
      - kcov
      - kplayer
      - ldap-utils
      - lftp
      - libuser
      - lilo
      - links
      - lrzip
      - lvm2
      - lzip
      - lzop
      - mailman
      - mc
      - mcrypt
      - mdadm
      - medusa
      - mencoder
      - mii-diag
      - minicom
      - monodevelop
      - mplayer-gui
      - mr
      - mtx
      - mussh
      - net-tools
      - nethogs
      - network-manager
      - nfs-common
      # post-installation script issues in Travis? (ypbind initscripts)
      #- nis
      - ntpdate
      - open-iscsi-utils
      - openswan
      - optipng
      - p7zip-full
      - patchutils
      - perl-doc  # for perldoc to actually work
      - pinfo
      - poppler-utils
      - postfix
      - prelink
      - protobuf-compiler
      # TODO: "puppet agent --" test fails for some non-obvious reason
      #- puppet-common
      - pwgen
      - pyflakes
      - pylint
      - python3
      - quota
      - rcs
      - rdesktop
      - reportbug
      - reptyr
      - ri        # avoid the Travis default
      - rpm
      - samba-common-bin
      - sbcl
      - screen
      - sharutils
      - sitecopy
      - smartmontools
      - smbclient
      - strace
      - sysbench
      - tcpdump
      - texinfo
      - tshark
      - unace
      - units
      - unixodbc
      - valgrind
      - vpnc
      - wine
      - wireless-tools
      - wodim
      - wvdial
      - xserver-xorg-input-synaptics
      - xsltproc
      - xvnc4viewer
      - xzdec
      - yum
      - yum-utils
      # zopfli used to be available, but apparently is no more?
      #- zopfli

before_install:
  # bash for bash 4.x, coreutils for greadlink
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install bash coreutils deja-gnu; fi

script:
  - export bashcomp_bash=bash
  - autoreconf -i
  - ./configure
  - make -C completions check
  - cd test
  - export PATH="/usr/bin:$PATH"  # avoid Travis default ri etc
  - ./runCompletion --all
  - ./runInstall --all
  - ./runUnit --all
