/airflow.bash
/allero.bash
/alp.bash
/ansible.bash
/ansible-config.bash
/ansible-console.bash
/ansible-doc.bash
/ansible-galaxy.bash
/ansible-inventory.bash
/ansible-playbook.bash
/ansible-pull.bash
/ansible-vault.bash
/apko.bash
/aqua.bash
/arduino-cli.bash
/argo.bash
/asdf.bash
/atlas.bash
/atmos.bash
/bao.bash
/bashbot.bash
/black.bash
/blackd.bash
/bosh.bash
/buf.bash
/caddy.bash
/chamber.bash
/changie.bash
/chezmoi.bash
/cilium.bash
/cloudquery.bash
/clusterctl.bash
/cmctl.bash
/colima.bash
/conda.bash
/conform.bash
/conftest.bash
/constellation.bash
/consul.bash
/container-structure-test.bash
/cosign.bash
/crane.bash
/crc.bash
/crictl.bash
/ctlptl.bash
/cue.bash
/cz.bash
/dagger.bash
/dapr.bash
/dasel.bash
/datree.bash
/deck.bash
/deno.bash
/depot.bash
/devspace.bash
/diesel.bash
/diffoci.bash
/dlv.bash
/docker.bash
/dprint.bash
/driftctl.bash
/dyff.bash
/esc.bash
/flask.bash
/flux.bash
/furyctl.bash
/fx.bash
/gaiad.bash
/gardenctl.bash
/gcrane.bash
/gh-label.bash
/ghorg.bash
/git-bump.bash
/gitconfig.bash
/gitleaks.bash
/gitsign.bash
/glab.bash
/glances.bash
/glen.bash
/glow.bash
/go-licenses.bash
/gomarklint.bash
/gopass.bash
/gopherjs.bash
/goreleaser.bash
/grype.bash
/gup.bash
/hd.bash
/helm.bash
/helmfile.bash
/hostctl.bash
/httpx.bash
/hugo.bash
/ignite.bash
/imgpkg.bash
/incus.bash
/infracost.bash
/insmod.static.bash
/istioctl.bash
/just.bash
/jwt.bash
/k0sctl.bash
/k3d.bash
/k3s.bash
/k3sup.bash
/k6.bash
/k9s.bash
/kafkactl.bash
/kapp.bash
/kata-runtime.bash
/kconf.bash
/kind.bash
/kn.bash
/ko.bash
/kompose.bash
/kool.bash
/kops.bash
/krane.bash
/kratos.bash
/kubeadm.bash
/kube-capacity.bash
/kube-linter.bash
/kubebuilder.bash
/kubecm.bash
/kubectl.bash
/kubectl-argo-rollouts.bash
/kubectl-kuttl.bash
/kubelogin.bash
/kubemqctl.bash
/kubescape.bash
/kubesec.bash
/kubeshark.bash
/kubespy.bash
/kustomize.bash
/kyverno.bash
/lefthook.bash
/limactl.bash
/linkerd.bash
/mado.bash
/mattermost.bash
/melange.bash
/metalctl.bash
/minikube.bash
/minishift.bash
/mise.bash
/mmctl.bash
/mockery.bash
/moldy.bash
/multi-gitter.bash
/ncal.bash
/nerdctl.bash
/nfpm.bash
/ngrok.bash
/nomad.bash
/notation.bash
/nova.bash
/npm.bash
/oc.bash
/odo.bash
/okteto.bash
/op.bash
/opa.bash
/oras.bash
/ory.bash
/packer.bash
/pip3.bash
/pitchfork.bash
/pluto.bash
/pnpm.bash
/polygon-edge.bash
/popeye.bash
/pulumi.bash
/px.bash
/qrpc.bash
/random.bash
/rclone.bash
/regal.bash
/regctl.bash
/release-plz.bash
/rustic.bash
/sentry-cli.bash
/sinker.bash
/skaffold.bash
/slsa-verifier.bash
/sopstool.bash
/spacectl.bash
/sshi.bash
/ssh-inscribe.bash
/starship.bash
/steampipe.bash
/syft.bash
/talhelper.bash
/tanzu.bash
/tanzu-core.bash
/tctl.bash
/tendermint.bash
/terraform.bash
/tfctl.bash
/tilt.bash
/timoni.bash
/tkn.bash
/tkn-pac.bash
/tldr.bash
/todoist.bash
/tofu.bash
/trash.bash
/trash-empty.bash
/trash-list.bash
/trash-put.bash
/trash-restore.bash
/trivy.bash
/upctl.bash
/uv.bash
/vacuum.bash
/vela.bash
/velero.bash
/venom.bash
/virtctl.bash
/wasmer-headless.bash
/watchexec.bash
/waydroid.bash
/xc.bash
/ytt.bash
/zarf.bash
/zitadel.bash
/zola.bash
