/7za
/7zr
/7zz
/7zzs
/aclocal-1.1[0123456]
/_airflow
/_allero
/alpine
/alternatives
/animate
/_ansible
/_ansible-config
/_ansible-console
/_ansible-doc
/_ansible-galaxy
/_ansible-inventory
/_ansible-playbook
/_ansible-pull
/_ansible-vault
/apropos
/aptitude-curses
/_arduino-cli
/arm-koji
/asciidoc.py
/autoheader
/automake-1.1[0123456]
/autossh
/autoupdate
/avahi-browse-domains
/b2sum
/_bao
/_black
/_blackd
/bmake
/bsdtar
/btdownloadcurses.py
/btdownloadgui.py
/_buf
/c++
/cc
/cdrecord
/_chezmoi
/chrome
/chromium
/ci
/_cilium
/ciptool
/civclient
/civserver
/_cloudquery
/clzip
/co
/colormake
/compare
/compgen
/composite
/_conda
/conjure
/_constellation
/_consul
/cowthink
/_crc
/createdb
/createuser
/_cz
/_datree
/dcop
/_deno
/dfutool
/_diesel
/display
/_dlv
/_docker
/dpkg-deb
/dpkg-query
/dpkg-reconfigure
/_dprint
/dropdb
/dropuser
/edquota
/etherwake
/f77
/f95
/filebucket
/firefox-esr
/_flask
/freeciv-gtk2
/freeciv-gtk3
/freeciv-sdl
/freeciv-xaw
/g++
/g++-[5678]
/g4
/g77
/g95
/_gaiad
/_gardenctl
/gcc-[5678]
/gccgo
/gccgo-[5678]
/gcj
/geoiplookup6
/gfortran
/gfortran-[5678]
/_gh-label
/_git-bump
/gkrellm2
/gmake
/gmplayer
/gnumake
/_go-licenses
/google-chrome
/google-chrome-stable
/_gopherjs
/_goreleaser
/gpc
/gpgv2
/gssdp-device-sniffer
/gtar
/_gup
/hciattach
/hciconfig
/hd
/_helm
/host
/hping
/hping3
/_httpx
/_hugo
/iceweasel
/identify
/ifdown
/ifquery
/ifstatus
/_ignite
/import
/_incus
/_infracost
/inotifywatch
/insmod.static
/iperf3
/_istioctl
/javac
/javadoc
/_k3s
/_kn
/_kool
/kplayer
/_kratos
/_kubeadm
/_kubectl
/_kubescape
/l2ping
/lbzip2
/ldapadd
/ldapcompare
/ldapdelete
/ldapmodify
/ldapmodrdn
/ldappasswd
/ldapwhoami
/_lefthook
/_linkerd
/links2
/lintian-info
/lua5[0-4]
/lua5.[0-4]
/luac5[0-4]
/luac5.[0-4]
/lusermod
/lvchange
/lvcreate
/lvdisplay
/lvextend
/lvmdiskscan
/lvreduce
/lvremove
/lvrename
/lvresize
/lvs
/lvscan
/lz4c
/mailsnarf
/_mattermost
/md5sum
/mdecrypt
/mencoder
/_metalctl
/micropython
/_minikube
/_mise
/mkisofs
/_mmctl
/mogrify
/_moldy
/montage
/mozilla-firefox
/mplayer2
/msgsnarf
/_multi-gitter
/muttng
/ncal
/neomutt
/_nfpm
/_nomad
/_npm
/_oc
/_okteto
/_op
/_ory
/_packer
/pbzip2
/pccardctl
/pdlzip
/perldoc
/phing
/pigz
/pinfo
/ping4
/ping6
/_pip3
/pkg_deinstall
/pkg_info
/pkgconf
/pkill
/plzip
/pm-suspend
/pm-suspend-hybrid
/pmake
/_polygon-edge
/postalias
/ppc-koji
/_pulumi
/puppetca
/puppetd
/puppetdoc
/puppetmasterd
/puppetqd
/puppetrun
/pushd
/pvchange
/pvcreate
/pvdisplay
/pvmove
/pvremove
/pvs
/pvscan
/_px
/pxz
/py.test
/py.test-[23]
/pydoc3
/pylint-[23]
/pytest-[23]
/python2
/python2.7
/python3
/python3.[3456789]
/python3.1[012]
/pypy
/pypy3
/pyston
/pyston3
/pyvenv-3.[456789]
/pyvenv-3.1[012]
/qemu-kvm
/qemu-system-i386
/qemu-system-x86_64
/_qrpc
/quotacheck
/quotaoff
/quotaon
/ralsh
/_random
/_rclone
/rcsdiff
/rdict
/repquota
/rfcomm
/rlog
/rpm2targz
/rpm2txz
/rpmbuild
/rpmbuild-md5
/s390-koji
/sbcl-mt
/scp
/sdptool
/setquota
/sftp
/shasum
/sha1sum
/sha224sum
/sha384sum
/sha512sum
/sidedoor
/_skaffold
/slogin
/smbcacls
/smbcquotas
/smbget
/smbpasswd
/smbtar
/smbtree
/sparc-koji
/spovray
/_sshi
/_ssh-inscribe
/star
/_starship
/stream
/sudoedit
/_tanzu
/_tanzu-core
/_tendermint
/_terraform
/_tkn
/_tkn-pac
/tightvncviewer
/_tofu
/tracepath6
/_trivy
/typeset
/_upctl
/_vacuum
/vgcfgbackup
/vgcfgrestore
/vgchange
/vgck
/vgconvert
/vgcreate
/vgdisplay
/vgexport
/vgextend
/vgimport
/vgmerge
/vgmknodes
/vgreduce
/vgremove
/vgrename
/vgs
/vgscan
/vgsplit
/vigr
/_virtctl
/_watchexec
/whatis
/wine-development
/wine-stable
/wine64
/wine64-development
/wine64-stable
/xpovray
/xvnc4viewer
/ypcat
/_zarf
/_zitadel
