/7za
/7zr
/7zz
/7zzs
/aclocal-1.1[0123456]
/_airflow
/_allero
/_alp
/alpine
/alternatives
/animate
/_ansible
/_ansible-config
/_ansible-console
/_ansible-doc
/_ansible-galaxy
/_ansible-inventory
/_ansible-playbook
/_ansible-pull
/_ansible-vault
/_apko
/apropos
/aptitude-curses
/_aqua
/_arduino-cli
/_argo
/arm-koji
/asciidoc.py
/_asdf
/_atlas
/_atmos
/autoheader
/automake-1.1[0123456]
/autossh
/autoupdate
/avahi-browse-domains
/b2sum
/_bao
/_bashbot
/_black
/_blackd
/bmake
/_bosh
/brave
/brave-browser
/bsdtar
/btdownloadcurses.py
/btdownloadgui.py
/_buf
/c++
/_caddy
/cc
/cdrecord
/_chamber
/_changie
/_chezmoi
/chrome
/chromium
/ci
/_cilium
/ciptool
/civclient
/civserver
/cksum
/_cloudquery
/_clusterctl
/clzip
/_cmctl
/co
/_colima
/colormake
/compare
/compgen
/composite
/_conda
/_conform
/_conftest
/conjure
/_constellation
/_consul
/_container-structure-test
/_cosign
/cowthink
/_crane
/_crc
/createdb
/createuser
/_crictl
/_ctlptl
/_cue
/_cz
/_dagger
/_dapr
/_dasel
/_datree
/dcop
/_deck
/_deno
/_depot
/_devspace
/dfutool
/_diesel
/_diffoci
/display
/_dlv
/_docker
/dpkg-deb
/dpkg-query
/dpkg-reconfigure
/_dprint
/_driftctl
/dropdb
/dropuser
/_dyff
/edquota
/_esc
/etherwake
/f77
/f95
/filebucket
/firefox-esr
/_flask
/_flux
/fprintd-list
/fprintd-verify
/freeciv-gtk2
/freeciv-gtk3
/freeciv-sdl
/freeciv-xaw
/fsnotifywait
/fsnotifywatch
/_furyctl
/_fx
/g++
/g++-[5678]
/g4
/g77
/g95
/_gaiad
/_gardenctl
/gcc-[5678]
/gccgo
/gccgo-[5678]
/gcj
/_gcrane
/geoiplookup6
/gfortran
/gfortran-[5678]
/_gh-label
/_ghorg
/_git-bump
/_gitconfig
/_gitleaks
/_gitsign
/gkrellm2
/_glab
/_glances
/_glen
/_glow
/gmake
/gmplayer
/gnumake
/_go-licenses
/_gomarklint
/google-chrome
/google-chrome-stable
/_gopass
/_gopherjs
/_goreleaser
/gpc
/gpgv2
/_grype
/gssdp-device-sniffer
/gtar
/_gup
/hciattach
/hciconfig
/hd
/_helm
/_helmfile
/host
/_hostctl
/hping
/hping3
/_httpx
/_hugo
/iceweasel
/identify
/ifdown
/ifquery
/ifstatus
/_ignite
/_imgpkg
/import
/_incus
/_infracost
/inotifywatch
/_insmod.static
/iperf3
/_istioctl
/javac
/javadoc
/_just
/_jwt
/_k0sctl
/_k3d
/_k3s
/_k3sup
/_k6
/_k9s
/_kafkactl
/_kapp
/_kata-runtime
/_kconf
/_kind
/_kn
/_ko
/_kompose
/_kool
/_kops
/kplayer
/_krane
/_kratos
/_kubeadm
/_kube-capacity
/_kube-linter
/_kubebuilder
/_kubecm
/_kubectl
/_kubectl-argo-rollouts
/_kubectl-kuttl
/_kubelogin
/_kubemqctl
/_kubescape
/_kubesec
/_kubeshark
/_kubespy
/_kustomize
/_kyverno
/l2ping
/lbzip2
/ldapadd
/ldapcompare
/ldapdelete
/ldapmodify
/ldapmodrdn
/ldappasswd
/ldapwhoami
/_lefthook
/_limactl
/_linkerd
/links2
/lintian-info
/lua5[0-4]
/lua5.[0-4]
/luac5[0-4]
/luac5.[0-4]
/lusermod
/lvchange
/lvcreate
/lvdisplay
/lvextend
/lvmdiskscan
/lvreduce
/lvremove
/lvrename
/lvresize
/lvs
/lvscan
/lz4c
/_mado
/mailsnarf
/_mattermost
/md5sum
/mdecrypt
/_melange
/mencoder
/_metalctl
/micropython
/_minikube
/_minishift
/_mise
/mkisofs
/_mmctl
/_mockery
/mogrify
/_moldy
/montage
/mozilla-firefox
/mplayer2
/mrsasutil
/msgsnarf
/_multi-gitter
/muttng
/ncal
/neomutt
/_nerdctl
/_nfpm
/_ngrok
/_nomad
/_notation
/_nova
/_npm
/_oc
/_odo
/_okteto
/_op
/_opa
/_oras
/_ory
/_packer
/pbzip2
/pccardctl
/pdlzip
/perldoc
/phing
/pigz
/pinfo
/ping4
/ping6
/_pip3
/_pitchfork
/pkg_deinstall
/pkg_info
/pkgconf
/pkill
/_pluto
/plzip
/pm-suspend
/pm-suspend-hybrid
/pmake
/_polygon-edge
/_popeye
/postalias
/ppc-koji
/_pulumi
/puppetca
/puppetd
/puppetdoc
/puppetmasterd
/puppetqd
/puppetrun
/pushd
/pvchange
/pvcreate
/pvdisplay
/pvmove
/pvremove
/pvs
/pvscan
/_px
/pxz
/py.test
/py.test-[23]
/pydoc3
/pylint-[23]
/pypy
/pypy3
/pyston
/pyston3
/pytest-[23]
/python2
/python2.*
/python3
/python3.*
/pyvenv-3.*
/qemu-kvm
/qemu-system-i386
/qemu-system-x86_64
/_qrpc
/quotacheck
/quotaoff
/quotaon
/ralsh
/_random
/_rclone
/rcsdiff
/rdict
/_regal
/_regctl
/repquota
/rfcomm
/rlog
/rpm2targz
/rpm2txz
/rpmbuild
/rpmbuild-md5
/_rustic
/s390-koji
/sbcl-mt
/scp
/sdptool
/_sentry-cli
/setquota
/sftp
/sha1sum
/sha224sum
/sha384sum
/sha512sum
/shasum
/sidedoor
/_sinker
/_skaffold
/slogin
/_slsa-verifier
/smbcacls
/smbcquotas
/smbget
/smbpasswd
/smbtar
/smbtree
/_sopstool
/_spacectl
/sparc-koji
/spovray
/_sshi
/_ssh-inscribe
/star
/_starship
/_steampipe
/stream
/sudoedit
/_syft
/_talhelper
/_tanzu
/_tanzu-core
/_tctl
/_tendermint
/_terraform
/_tfctl
/tightvncviewer
/_tilt
/_timoni
/_tkn
/_tkn-pac
/_tldr
/_todoist
/_tofu
/tracepath6
/_trash
/_trash-empty
/_trash-list
/_trash-put
/_trash-restore
/_trivy
/typeset
/_upctl
/_uv
/_vacuum
/_vela
/_velero
/_venom
/vgcfgbackup
/vgcfgrestore
/vgchange
/vgck
/vgconvert
/vgcreate
/vgdisplay
/vgexport
/vgextend
/vgimport
/vgmerge
/vgmknodes
/vgreduce
/vgremove
/vgrename
/vgs
/vgscan
/vgsplit
/vigr
/_virtctl
/_wasmer-headless
/_watchexec
/whatis
/wine-development
/wine-stable
/wine64
/wine64-development
/wine64-stable
/_xc
/xpovray
/xvnc4viewer
/ypcat
/_ytt
/_zarf
/_zitadel
/_zola
