tar: upstream:.
copy: rpm-cache.filetrigger mutt
diff: e8f6edc5af1c2694715708924518b2bbe07daeee:. patches/20060301-alt-iptables:. name=@name@-20060301-alt-iptables.patch
diff: e7d7ae81efc694e45d6667f6decc1afde407831d:. patches/alt-specific:. name=@name@-alt-specific.patch
